<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>My Profile - Yusuf Wijaya</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!-- 
Easy Profile Template
http://www.templatemo.com/tm-467-easy-profile
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/templatemo-orange.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="https://storage.googleapis.com/dicoding-storage-110692/images/yusuf.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<hr>
				<h1 class="tm-title bold shadow">Hi, I am Ucup</h1>
				<h1 class="white bold shadow">Cloud Engineer</h1>
			</div>
		</div>
	</div>
</header>

<!-- about and skills section -->
<section class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h3 class="accent">About</h3>
				<h2>Me</h2>
				<p>I'm an Informatics Engineering Student at UIN Syarif Hidayatullah who is Currently Studying for an Undergraduate Degree, to be Exact, I'm in 6th Semester. I'm Active in 3 Campus Organizations in Fields such as Informatics, Religion, and Language. My Expertise Now is to make Websites using Laravel Framework and I also usually Use Figma to Design a Post. I'm Interested in Working in the Field of Informatics into Web Development, Especially in the Back End Field.</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Skills</h2>
				<strong>Design Graphic</strong>
				<span class="pull-right">70%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
					</div>
				<strong>Laravel Development</strong>
				<span class="pull-right">85%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>Cloud Engineer</strong>
				<span class="pull-right">95%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="education">
				<h2 class="white">Education</h2>
					<div class="education-content">
						<h4 class="education-title accent">Syarif Hidayatullah State Islamic University</h4>
							<div class="education-school">
								<h5>Informatics Engineering</h5><span></span>
								<h5>2019 January - 2023 December</h5>
							</div>
						<p class="education-description">Activities and societies: I'm Active in 3 Campus Organizations in Fields such as Informatics, Religion, and Language
							• UKM LDK Syahid UIN Syarif Hidayatullah
							• UKM Bahasa-FLAT UIN Syarif Hidayatullah
							• HIMTI UIN Syarif HidayatullahActivities and societies: I'm Active in 3 Campus Organizations in Fields such as Informatics, Religion, and Language • UKM LDK Syahid UIN Syarif Hidayatullah • UKM Bahasa-FLAT UIN Syarif Hidayatullah • HIMTI UIN Syarif Hidayatullah
							Syarif Hidayatullah State Islamic University (UIN Syarif Hidayatullah Jakarta) is a state Islamic university located in South Tangerang Banten Indonesia.</p>
					</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="languages">
				<h2>Languages</h2>
					<ul>
						<li>Indonesia</li>
						<li>English</li>
						<li>Japanese</li>
					</ul>
			</div>
		</div>
	</div>
</section>

<!-- contact and experience -->
<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h2>Contact</h2>
					<p><i class="fa fa-map-marker"></i> Depok, Indonesia</p>
					<p><i class="fa fa-phone"></i> 0895394755672</p>
					<p><i class="fa fa-envelope"></i> yusufwijaya3@gmail.com</p>
					<p><i class="fa fa-globe"></i> <a href="https://www.linkedin.com/in/yusuf-wijaya-a92467148/">https://www.linkedin.com/in/yusuf-wijaya-a92467148/</a></p>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
				<h2 class="white">Experiences</h2>
					<div class="experience-content">
						<h4 class="experience-title accent">Back End Developer Intern</h4>
						<h5>PT. Mixtra Inti Tekindo</h5><span></span>
						<h5>2021 January - 2021 February</h5>
						<p class="education-description">
							<ul>
								<li>Build Web Applications with Laravel Framework</li>
								<li>Building a CRUD System on a Plastic Catalog Provider Website (SOPRA)</li>
								<li>Using Github to Work in Teams</li>
								<li>Help make the Frontend of the Website</li>
								<li>Explain to the Customer how the System Works</li>
								<li>Using SQL to Fetch the Database</li>
							</ul>
						</p>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2084 Your Easy Profile</p>
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-github"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>